*{
    margin: 0;
    padding: 0;
}

input{
    margin: 20px;
}

.login:focus{
border: 1px solid rgb(78, 78, 243);
border-radius: 2px;
outline: none;
}

.password:focus{
    border: 1px solid rgb(243, 57, 57);
    border-radius: 2px;
    outline: none;
    }
